*{
    font-family: helvetica;
}

/*navbar*/
.navbar {
    background-color: green;
}

.navbar-brand{
    margin-left: 9px;
    font-size: 15px;
}

.collapse{
    margin-left: 350px;
}

.nav-item{
    padding: 5px;
}

a.nav-link{
    color: white;
    font-size: 18px;
    margin-left: 90px;
    border-radius: 10px;
    border-color: rgb(155, 10, 10);
}

a.nav-link:hover{
    background-color: rgb(155, 10, 10);
    border-radius: 10px;
    border-color: rgb(155, 10, 10);
    color: white;
}

.logo {
    position: relative;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    background-color: rgb(155, 10, 10);
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 15px;
}



/*index*/
.msg{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    font-weight: bold;
}

img{
    height: 730px;
    width: 100%;
}

.form-group{
    padding: 10px;
}

.tamform{
    margin-top: 70px;   
    margin-bottom: 90px;
    margin-left: 680px;
    width: 400px;
}

.form-check{
    margin-left: 12px;
}

.btn.btn-primary{
    background-color: rgb(155, 10, 10);
    border-color: rgb(155, 10, 10);
    width: 100px;
    margin-left: 10px;
}

.btn.btn-primary:hover{
    background-color: green;
    border-color: green;
}


/*footer*/
footer{
    height: 270px;
    width: 100%;
    background-color: rgb(155, 10, 10);
    text-align: center;
    padding: 80px;
}

.info{
    font-size: 20px;
    color: white;
}

table.table{
    width: 500px;
    margin-left: 700px;
    margin-top: 70px;
    margin-bottom: 100px;
    border-color: black;
}

